@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background:  hsl(220, 8%, 93%);
    min-width: 375px;
    max-width: 1440px;                                                                                                     
}

.text {
    text-align: center;
    font-size: 20px;
}

.text span {
    font-size: 20px;
    font-weight: lighter;
    color: hsl(234, 12%, 34%);
}

.text h1 {
    font-size: 20px;
    color: hsl(234, 12%, 34%);
}

.text p {
    font-size: 15px;
    color: hsl(229, 6%, 66%);
    margin: 10px 0;
}

.box {
    border: 1px solid hsl(0, 0%, 98%);
    padding: 25px;
    width: 315px;
    margin-bottom: 25px;
    background:  hsl(0, 0%, 100%);
    border-radius: 5px;
}

.box-1 {
   border-top: 3px solid hsl(180, 62%, 55%);
}

.box-2 {
    border-top: 3px solid hsl(0, 78%, 62%);
 }

 .box-3 {
    border-top: 3px solid hsl(34, 97%, 64%);
 }

 .box-4 {
    border-top: 3px solid hsl(212, 86%, 64%);
 }

.box h1 {
    font-size: 18px;
    color: hsl(234, 12%, 34%);
}

.box p {
    font-size: 12px;
    color: hsl(229, 6%, 66%);
    margin: 15px 0 40px 0;
}

.box .image  {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:800px) {
    
    .container {
        width: 375px;
        margin: auto;
        padding: 60px 30px;
    }

    .box-container {
        margin-top: 100px;
    }
}

@media screen and (min-width:800px) {
    
    .container {
        padding: 20px 0;
    }

    .text {
        width: 500px;
        margin: auto;
    }

    .text p {
        font-size: 13px;
        color: hsl(229, 6%, 66%);
        margin: 10px 0;
    }

    .box-container{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-center {
        margin: 0 25px;
    }
}

